@using System.Data.SqlClient;

<body>
    <div>
        <form method="post">
            <table border="1">
                <tr>
                    <th>Insert Location</th>
                </tr>
                <tr>
                    <th>Location_Id</th>
                    <td><input type="text" name="locnid" /></td>
                </tr>
                <tr>
                    <th>Location_desc</th>
                    <td><input type="text" name="locndesc"/></td>
                </tr>
                <tr>
                    <td>
                    <input type="submit" value="Insert" />
                    </td>
                    
                </tr>
            </table>
        </form>
    </div>
</body>